/*-- scss:defaults --*/
$presentation-heading-color: #00507F;
$link-color: #006E9F;
$presentation-font-size-root: 34px;

/*-- scss:rules --*/
.reveal table { font-size: 0.7em; }
.reveal .slide-number { font-size: 0.5em; }
